
.centerAlign {
    text-align: center;
    cursor: pointer;
}

.leftAlign {
    text-align: left;
    cursor: pointer;
}

.col_1 {
    text-align: left;
    font-weight: bold;
    width: 150px;
}

.col_2 {
    width: 200px;
}

